.reviews {
    margin-top: 50px;

    hr {
        height: 0px;
        border: 0.5px solid lightpink;
        margin: 25px 0px;
    }

    .add {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .addReview {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            input {
                padding: 10px;
            }

            select {
                width: 200px;
                padding: 10px;
                align-self: flex-end;
            }

            button {
                align-self: flex-end;
                width: 100px;
                border: none;
                padding: 10px;
                color: white;
                background-color: #1dbf73;
                cursor: pointer;
            }
        }
    }
}